<template>
  <div>
    <d-article>
        Prototype your components here to see how they will look like once built
        <d-cite bibtex-key="mercier2011humans"></d-cite>
    </d-article>
  </div>
</template>

<script>
import Vue from "vue";

Vue.config.ignoredElements = [
  "d-front-matter",
  "d-title",
  "d-byline",
  "d-appendix",
  "d-article",
  "d-code",
  "d-math",
  "d-figure",
  "d-cite",
  "d-bibliography",
  "d-footnote-list",
  "d-citation-list"
];

export default {
  components: {
  }
}
</script>
