<template>
  <div class="">
    <v-btn @click="count"> test {{amount}} </v-btn>
  </div>
</template>

<script>
export default {
  name: 'VuetifyBtn',
  components: {

  },
  data: () =>({
    amount: 0
  }),
  methods:{
    count() {
      this.amount += 1
    }
  }
}
</script>
