<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
    <!-- Inclusion of distill's webcomponents  -->
    <!-- <script src="https://distill.pub/template.v2.js"></script> -->
  </head>

  <body {{ BODY_ATTRS }}>
    <d-front-matter>
      <script type="text/json">
        {
          "title": "Distill Example",
          "description": "An example project using Docker, Nuxt, and Vue.",
          "password": "svgs",
          "authors": [
            {
              "author": "Ludwig Schubert",
              "authorURL": "https://schubert.io/",
              "affiliation": "OpenAI",
              "affiliationURL": "https://openai.com"
            }
          ],
          "katex": {
            "delimiters": [
              {
                "left": "$",
                "right": "$",
                "display": false
              },
              {
                "left": "$$",
                "right": "$$",
                "display": true
              }
            ]
          }
        }
      </script>
    </d-front-matter>

    <d-title>
      <h1>Distill Example</h1>
      <p>An example project using Docker, Nuxt, and Vue.</p>
    </d-title>


    <d-byline></d-byline>

    {{ APP }}
    <d-appendix>
      <h3>Acknowledgments</h3>
      <p>We are deeply grateful to...</p>

      <p>Many of our diagrams are based on...</p>

      <h3>Author Contributions</h3>
      <p>
        <b>Research:</b> Alex developed ...
      </p>

      <p>
        <b>Writing & Diagrams:</b> The text was initially drafted by...
      </p>

      <d-footnote-list></d-footnote-list>
      <d-citation-list></d-citation-list>
    </d-appendix>
    <d-bibliography>
      <script type="text/json">
        [
          [
            "mercier2011humans",
            {
              "title": "On the Global Convergence of Gradient Descent for Over-parameterized Models using Optimal Transport",
              "author": "Lenaic Chizat and Francis Bach",
              "year": "2018",
              "booktitle": "Proc. NIPS",
              "url": "http://papers.nips.cc/paper/7567-on-the-global-convergence-of-gradient-descent-for-over-parameterized-models-using-optimal-transport.pdf",
              "type": "inproceedings"
            }
          ]
        ]
      </script>
    </d-bibliography>
  </body>
</html>
