<template>
  <nuxt />
</template>

<script>
export default {
  mounted() {
    setTimeout(()=>{
      const script = document.createElement("script");
      script.src = "https://distill.pub/template.v2.js";
      document.getElementsByTagName("head")[0].appendChild(script);
    }, 1000)    
  }
}
</script>
